// <a href="http://127.0.0.1:8000">
// <button class="bg-transparent text-grey-darkest font-bold uppercase tracking-wide py-3 px-6 border-2 border-grey-light hover:border-grey rounded-lg">
// Go Home
// </button>
// </a>

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// dopeboyz.pl/user

.profile-form {
  width: 100vw;
}

.input-group-text {
  min-width: 90px;
}

html, body { 
  color: rgb(0,0,0);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  height: 100vh;
  margin: 0;
}

a{
    cursor: pointer;
}

.body-home {
  min-height: 870px; // bylo 870px lub 833px ale update print nie pozwala na logout
  background: -o-radial-gradient(center, ellipse cover, rgba(62,62,62,1) 0%, rgba(43,43,43,1) 100%); /* opera */
  background: -moz-radial-gradient(center, ellipse cover, rgba(62,62,62,1) 0%, rgba(43,43,43,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(62,62,62,1) 0%,rgba(43,43,43,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(62,62,62,1) 0%,rgba(43,43,43,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.container {
  margin-bottom: auto;
  padding: 0;
}

input:focus {
  z-index: -1;
}

.row.justify-content-center {
  color: black;
}

.full-height {
  height: 100vh;
}

.position-ref {
  position: relative;
}

.content {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.z-index-menu {
    z-index: 1040;
}

.z-index-topnav {
    z-index: 1039;
}

.z-index-1 {
    z-index: 1;
}

.z-index-00 {
    z-index: 0;
}

.z-index-0 {
    z-index: -1;
}

.z-index--10 {
    z-index: -10;
}

.w-125 {
    width: 125px;
}

.w-90 {
    width: 90px;
}

.w-97 {
    //   margin-bottom: 165px;
      max-width: 97%;
    }

.mt-6proc {
    margin-top: 6%;
}

.pt-shop {
    padding-top: 15%;
}

// Colors
.bg-black {
    background-color: #000000;
}

.bg-light-red {
    background-color: rgba(227, 53, 47, 0.075);
}

.bg-light-blue {
    background-color: rgba(108, 178, 235, 0.2);
}

.bg-about-dark {
    background-color: #3A3554;
}

.text-black-75 {
    color: rgba(0, 0, 0, 0.75);
}

// Headers
.h-home{
    font-size: 20px;
    padding: 0.5rem;
    margin: 0;
}

.hover-no-bg:hover {
    background-color: transparent !important;
}

// Background image 
.dopeboyz-sign {
    // max-width: 1400px !important;
    opacity: 0.02;
    bottom: 0;
    left: 2rem;
    right: 0;
    top: -170px;
    position: fixed;
  }


// Music Page

.music-background {
    background-image: linear-gradient(to bottom right,#071127, #acb4c2);
    background-image: -o-linear-gradient(to bottom right,#071127, #acb4c2);
    background-image: -moz-linear-gradient(to bottom right,#071127, #acb4c2);
    background-image: -webkit-linear-gradient(to bottom right,#071127, #acb4c2);
}

.album-title {
 font-size: 30px;
//  font-weight: bold;
 //color: #4E4E4E;
 color: rgba(255, 255, 255, 1)
}

.album-subtitle {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.70)
  //color: #9a9a9a;
}

.album-field {
//  background-color: #FF5500; //sc
//  background-color: #A62D9E; //cover
//  background-color: #EBEBEB; //theme
    background-color: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

// Songs

.song {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
//   font-family: 'Roboto Condensed', sans-serif;
  min-width: 320px !important;
  max-height: 150px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
}

.song-cover {
  height: 150px;
  width: 150px;
  position: relative;
}

.song-cover-img {
  min-width: 150px;
  height: 150px;
  width: auto;
  z-index: 2;
}

.song-title {
  font-weight: 500;
  font-size: 16px;
}

.song-production {
font-size: 14px;
  max-height: 34px ;
  min-height: 17px ;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.song-description {
    font-size: 14px;
  max-height: 50px !important;
  // min-height: 50px !important;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}


.tags-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-items: center;
  max-height: 60px;
}

.tag {// TAG
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  @extend .col-6;
  // display: inline;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
  // height: 50%;
  // width: 25%;
  max-width: 65px !important;
  // min-width: 85px !important;
  //color: #495057;
  text-align: center;
  background-color: transparent;
  //border: 1px solid #ced4da;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: auto;
  margin: auto;
}

.tag-time {// TAG
  font-family: 'Roboto Condensed', sans-serif;
  @extend .col-6;
  // display: inline;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
  // height: 50%;
  // width: 25%;
  min-width: 85px !important;
  // min-width: 85px !important;
  color: #495057;
  text-align: center;
  // background-color: #e9ecef00;
  // border: 1px solid #ced4da;
  // border-radius: 1rem;
}

.song-links {
  left: 162px;
//   bottom: 4px;
}

.song-spacing {
    height: 160px;
}

.songs-list li span {
    width: 165px;
    max-width: 165px;
    float: left;
}

.songs-list img {
    width: 25px;
    float: left;
}

.default-font {
    font-family: 'Roboto Condensed', sans-serif;
}

// Buttons

.button-dark2 {
  display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    // height: 30px;
    background-color: white;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 13px;
    color: rgb(82, 82, 82);
    font-weight: 500;
    font-size: 13px;
    margin: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

.button-dark2:hover {
    background-color: rgb(83, 83, 83);
    border: 1px solid rgb(83, 83, 83);
    color: white;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.button-dark2 a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.button-dark {
    display: flex;
      justify-content: center;
      align-items: center;
      min-width: 96px;
      height: 36px;
      background-color: rgba(52, 58, 64, 1);
      border: 0px solid rgb(146, 146, 146);
      border-radius: 4px;
      color: white;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 1rem;
      margin-left: -4px;
      margin-right: -4px;
    //   margin: 5px;
    //   padding-left: 7px;
    //   padding-right: 7px;
  }
  
  .button-dark:hover {
      background-color: #272727;
      border: 0px solid rgb(83, 83, 83);
      color: white;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
  }
  
  .button-dark a {
    text-decoration: none;
    color: inherit;
    width: 100%;
  }

  @media screen and (min-width: 460px) { .button-dark {min-width: 125px;}}

// Icons

.minus-user, .edit-user, .edit-songs {
  cursor: pointer;
  font-size: 14px;
}

.minus-user {
  color: red;
}

.edit-user {
  color: green;
}

.edit-songs {
  color: rgb(82, 82, 126);
}

.icon-play, .icon-facebook, .icon-youtube, .icon-soundcloud, .icon-dark, .icon-new {
  justify-items: center;
  cursor: pointer;
  float: left;
  font-size: 16px;
  color: rgba(180, 180, 180, 0.34);
  color: rgba(0, 0, 0, 0.12);
  opacity: 1;
  padding: 0rem 0.3rem;
}

.icon-play {
  text-align: left;
  color: rgba(255, 255, 255, 0); //0.4 ?
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 50px;
  padding-top: 33px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}

.icon-play:hover {
  color: rgba(255, 255, 255, 0.8);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.icon-new {
    text-align: left;
    color: rgb(255, 255, 255); //0.4 ?
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 45px;
    height: 20px;
    font-size: 12px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    // background-color: #00e845;
    background-color: #00b837;
    border-bottom-right-radius: 50px;
    opacity: 1;
  }

.icon-facebook:hover {
  color: #3b5998;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.icon-youtube:hover {
  color: #ff0000;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.icon-soundcloud:hover {
  color: #ff8800;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.icon-dark:hover {
    color: #272727;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
  }

.home-icon {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.15);
  padding: 10px;
}

.home-icon:hover {
  color: rgba(255, 255, 255, 0.75);
}

// Open Player Navs

.nav {
  display: initial;
  padding: initial;
  margin: initial;
}

.nav-link {
  display: initial;
  padding: initial;
  opacity: 1;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.nav-link img {
    opacity: 0.8;
    -o-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.nav-link:hover .song-cover {
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    box-shadow: inset 0px 0px 20px 0px #00000085;
}

.nav-link:hover img{
    -o-filter: blur(2px) grayscale(50%);
    -moz-filter: blur(2px) grayscale(50%);
    -webkit-filter: blur(2px) grayscale(50%);
    filter: blur(2px) grayscale(50%);
    
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}

.nav-link:hover {
  opacity: 1;
//   color: rgba(0, 0, 0, 0.66);
  background-color: rgba(0, 0, 0, 0.05);

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
//   h1 {
//     //   font-weight: bold;
//   }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {

  color: #000000;
  background-color: white;
  opacity: 1;

  text-decoration: none;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;

  -o-filter: drop-shadow(1px 1px 14px gray);
  -moz-filter: drop-shadow(1px 1px 14px gray);
  -webkit-filter: drop-shadow(1px 1px 14px gray);
  filter: drop-shadow(1px 1px 14px gray);
  
//   h1 { font-weight: bold; }
//   span { color: rgba(255, 255, 255, 0); }
}

.nav-link.active img {
    opacity: 1;
    color: rgba(255, 255, 255, 0);
    -o-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
  }

  .nav-link.active .song-cover {
    box-shadow: inset 0px 0px 0px 0px rgb(255, 255, 255);
  }

  .nav-link.active .icon-new {
    color: white;
  }

  .nav-link.active .icon-play {
    display: none;
  }


.nav-pills .nav-link {
  border-radius: 0;
  text-decoration: none;
}

// Player

.player {
  opacity: 1;
//   width: 94%;
  height: 180px;
//   left: 20px;
}

.player-field {
  left: 15px;
  height: 0px;
}

.h-165 {
    height: 165px !important;
}

.player-music {
  opacity: 1;
  height: 517px;
}

// .tab-content > .tab-pane.active.show {
//     // opacity: 0.23;
//     // display: initial !important;
// }


// Home Menu, Main Menu, Artist Menu

#home-img-title, #home-img-sign {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#home-img-sign {
  max-width: 340px;
  opacity: 0.25;
  top: 207px;
  left: -1px;
}

#home-img-title {
  max-width: 340px;
  top: 393px;
}

#main-img-title {
  max-width: 94px;
  top: 0;
}

#main-img-title-a {
  max-width: 94px;
  top: 0;
  text-decoration: none;
}

#home-menu-text {
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.06);
  top: 507px;
  // position: absolute;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0rem 1rem;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1)
}

#main-menu-text {
  width: 100%;
  background-color: #272727;
  // position: absolute;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  min-height: 56px;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  position: fixed;
  top: 0;
//   z-index: 2000;
}

#main-menu-spacing {
    width: 100%;
    height: 56px;
}

#artist-menu-text {
  background-color: #3E3E3E;
  // position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
  min-height: 46px;
  top: 0px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-left: 60px;
  padding-right: 60px;
}

@media screen and (max-width: 320px)
{
  #home-img-sign {top: 207px - 180px; max-width: 200px; opacity: 0.1;}
  #home-img-title {top: 145px; max-width: 200px;}
  #home-menu-text {top: 208px;}
}

@media screen and (max-width: 576px) and (min-width: 340px)
{
  #home-img-sign {top: 207px - 180px; opacity: 0.15;}
  #home-img-title {top: 393px - 180px;}
  #home-menu-text {top: 504px - 170px;}
}

@media screen and (min-width: 576px) and (max-width: 700px)
{
  #home-img-sign {top: 207px - 160px;}
  #home-img-title {top: 393px - 160px;}
  #home-menu-text {top: 504px - 150px;}
}

@media screen and (min-width: 700px) and (max-width: 1000px)
{
  #home-img-sign {top: 207px - 100px;}
  #home-img-title {top: 393px - 100px;}
  #home-menu-text {top: 504px - 100px;}
}

@media screen and (min-width: 1000px)
{
  #home-img-sign {top: 207px - 80px;}
  #home-img-title {top: 393px - 80px;}
  #home-menu-text {top: 504px - 80px;}
}

@media screen and (min-width: 1400px)
{
  #home-img-sign {top: 207px - 80px;}
  #home-img-title {top: 393px - 80px;}
  #home-menu-text {top: 504px - 80px;}
}

@media screen and (min-width: 1600px)
{
  #home-img-sign {top: 207px - 40px;}
  #home-img-title {top: 393px - 40px;}
  #home-menu-text {top: 504px - 40px;}
}

@media screen and (min-width: 2200px)
{
  #home-img-sign {top: 207px - 10px;}
  #home-img-title {top: 393px - 10px;}
  #home-menu-text {top: 504px - 10px; font-size: 36px;}
}

#home-menu-text a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

#main-menu-text a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1); //
  opacity: 1; //tutaj
  height: 56px;
  padding: 0.75rem 0rem;
}

#artist-menu-text a {
  text-decoration: none;
  color: white;
  // opacity: 0.75;
  height: 46px;
  padding: 0.75rem 0.75rem;
}

#home-menu-text a:hover {
  opacity: 1;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

#main-menu-text a:hover {
  background-color: #3E3E3E;
  color: white;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

#main-menu-link a:hover {
  opacity: 1;
}

#dropdownMenuLink:hover, #main-img-title-a {
  background-color: transparent !important;
}

#artist-menu-link:hover {
  opacity: 0.75;
  background-color: #272727;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

#main-menu-dropdown a:hover {
  opacity: 1;
}

// #main-menu-link {
//   padding: 0.25rem 2.0rem;
//  }

.home-menu-link {
 padding: 0.25rem 2.5rem;
}

#artist-menu-link {
  // padding: 0.75rem 0rem;
  // width: 100%;
  // height: 46px;
  opacity: 0.75;
 }

@media screen and (min-width: 576px)
{ 
  .home-menu-link {padding: 0.25rem 0.5rem;}
  #main-menu-link a {padding: 0.75rem 0.5rem;}
  #main-menu-text {padding-right: 16px !important;}
}

@media screen and (min-width: 600px)
{ .home-menu-link {padding: 0.25rem 1.0rem;} }

@media screen and (min-width: 700px)
{ 
  .home-menu-link {padding: 0.25rem 1.5rem;}
  #main-menu-link a {padding: 0.75rem 1.0rem;}
}
@media screen and (min-width: 800px)
{ .home-menu-link {padding: 0.25rem 2.0rem;} }

@media screen and (min-width: 900px)
{ .home-menu-link {padding: 0.25rem 2.5rem;}
  #main-menu-link a {padding: 0.75rem 1.5rem;}
}

@media screen and (min-width: 2000px)
{ 
  .home-menu-link {padding: 0.25rem 4.0rem;} 
  #main-menu-link a {padding: 0.75rem 2.5rem;}
}

#home-menu-link-field {
  background-color: transparent;
}

#artist-menu-link-field {
  background-color: transparent;
}

#home-menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  max-width: 4rem;
  min-width: 4rem;
  padding: 0.5rem 0;
  margin: 0.5rem 0 0;
  font-size: inherit;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: transparent;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.home-menu-dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 0rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.home-menu-dropdown-item:hover {
    background-color: transparent;
}

#main-menu-dropdown {
  position: absolute;
  // top: 118%;
  left: -111px;
  z-index: 1000;
  float: left;
  // max-width: 6rem;
  // min-width: 6rem;
  padding: 0.5rem 0;
  margin: 0rem 0 0;
  font-size: inherit;
  text-align: center;
  list-style: none;
  background-color: #272727;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0rem;
  height: auto;
  overflow-x: hidden;
}

#navbarsExample10 {
  // background-color: rgba(129, 129, 129, 0.2);
  padding: 0rem 0;
}

#navbarsExample11 {
  // background-color: rgba(129, 129, 129, 0.2);
  padding: 0rem 0;
}

#main-menu-arrow {
    height: inherit;
    font-size: 24px;
    background-color: #272727;
  }

#home-menu-arrow {
  height: inherit;
  font-size: 24px;
  background-color: transparent;
}

#artist-menu-arrow {
  height: inherit;
  font-size: 18px;
  background-color: #3E3E3E;
}

#dropdownMenuLink {
    padding-top: 0.25rem;
}

#dropdownMenuLink::after {
  vertical-align: 0;
}

#home-menu-colapse-button {
  color: white;
  opacity: 1;
  text-decoration: none;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: initial;
  border: 0;
  padding: 0;
  margin: 0;
}

#main-menu-colapse-button {
    color: white;
    opacity: 1;
    text-decoration: none;
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: initial;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #272727;
  }

button:focus {
  outline: none;
}

// Mobile
@media screen and (max-width: 576px) 
{ 
    #dropdownMenuLink {padding-right: 5px !important;}
  #main-menu-dropdown {left: 0; width:100%; max-height: 300%; background-color: #3e3e3e;}
  #artist-menu-text a {font-size: 16px; height: 30px; padding: 0;}
  #navbarsExample11 {padding-bottom: 0rem;} // bo przeskakuje padding
  #artist-menu-link:hover {background-color: transparent;}
  #main-menu-text a:hover {background-color: transparent;}
  #home-menu-arrow {font-size: 36px; }
  .active-artist-bg {background-color: transparent !important;}
  .active-artist {
    background: url(public/images/png/line.png) bottom center no-repeat !important;
    background-size: 100px 2px !important;
    background-position-y: 21px !important;}
  .h-home {font-size: 22px;}
  .about-artist {padding: 1rem 7rem !important}
  .about-artist-names { padding-top: 0.5rem !important;}
}

@media screen and (min-width: 576px)
{
  #artist-menu-text { width: inherit !important;}
  .display-none {display: none !important;}
}

// About page

.about-background {
    background-image: linear-gradient(to bottom right, #3e3e3e , #3a3554);
    background-image: -o-linear-gradient(to bottom right, #3e3e3e , #3a3554);
    background-image: -moz-linear-gradient(to bottom right, #3e3e3e , #3a3554);
    background-image: -webkit-linear-gradient(to bottom right, #3e3e3e , #3a3554);
}

#about-img-title {
    // position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  #about-img-sign {
    max-width: 960px !important;
    opacity: 0.03;
    bottom: 0;
    left: 2rem;
    right: 0;
    top: -170px;
    position: fixed;
  }
  
  #about-img-title {
    max-width: 300px;
    top: 0px;
    padding-top: 4%;
  }

  .about-container {
      padding-top: 4%;
  }

  .about-text-head {
      color: white;
      font-size: 24px;
  }

  .about-text-content {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}

.about-artist {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    z-index: 1000;
}

.about-artist:hover {
    color: white;
    text-decoration: none;
}

// Contact page

.contact-h1 {
    font-size: 36px;
    color: white;
}

.contact-h2 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);
}

.contact-h3 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.45);
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border: none;
}

.contact-form:focus, .contact-form:active {
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.3);
}

.contact-form::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.contact-button {
    background-color: #27272770;
}

.contact-alert {
    background-color: rgba(255, 0, 0, 0.15);
}

.contact-success {
    background-color: rgba(0, 255, 0, 0.15);
}

// Graphics Page

.graphics-img {
    width: 293px;
    height: 293px;
}

@media screen and (min-width: 1734px) {
    .graphics-field {flex: 0 0 60%; max-width: 60%;}
}

@media screen and (max-width: 975px) {
    .graphics-img {width: 200px; height: 200px;}
}

@media screen and (max-width: 696px) {
    .graphics-img {width: 293px; height: 293px;}
}

@media screen and (max-width: 663px) {
    .graphics-img {width: 200px; height: 200px;}
}

// @media screen and (max-width: 546px) {
//     .graphics-img {width: 200px; height: 200px;}
// }

@media screen and (max-width: 576px) {
    .graphics-square {padding-right: 0px !important; padding-left: 0px !important; }
    .graphics-field {flex: 0 0 100%; max-width: 100%;}
    .graphics-img {width: 100%; height: 100%;}
}
// Actives

.active-menu {
    color: white !important;
    background: url(public/images/png/line.png) bottom center no-repeat;
    background-size: 3.5rem 2px;
    background-position-y: 42px;
}

.active-artist {
  
  background: url(public/images/png/dot.png) bottom center no-repeat;
    background-size: 4px 4px;
    background-position-y: 35px;
}

.active-artist-bg {
  opacity: 1 !important;
  background-color: #272727;
}

// Animations Keyframes

@keyframes anim-top-nav {
  0% {
    -o-transform: translateY(-56px);
    -moz-transform: translateY(-56px);
    -webkit-transform: translateY(-56px);
            transform: translateY(-56px);
  }
  100% {
    -o-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes anim-song {
  0% {
    -o-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -o-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim-home-menu {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes anim-home-logo {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes anim-home-logo-sign {
  0% { opacity: 0; }
  100% { opacity: 0.25; }
}

@keyframes anim-home-links {
  0% {
    -o-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

// Animations Classes

.anim-top-nav {
    -o-animation: anim-top-nav 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
    -moz-animation: anim-top-nav 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
	-webkit-animation: anim-top-nav 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
	        animation: anim-top-nav 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
}

.anim-song {
    -o-animation: anim-song 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.1s both;
    -moz-animation: anim-song 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.1s both;
	-webkit-animation: anim-song 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.1s both;
	        animation: anim-song 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.1s both;
}

.anim-home-menu {
    -o-animation: anim-home-menu 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.1s both;
    -moz-animation: anim-home-menu 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.1s both;
	-webkit-animation: anim-home-menu 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.1s both;
	        animation: anim-home-menu 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.1s both;
}

.anim-home-logo {
    -o-animation: anim-home-logo 1.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.1s both;
    -moz-animation: anim-home-logo 1.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.1s both;
	-webkit-animation: anim-home-logo 1.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.1s both;
	        animation: anim-home-logo 1.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.1s both;
}

.anim-home-logo-sign {
    -o-animation: anim-home-logo-sign 1.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.1s both;
    -moz-animation: anim-home-logo-sign 1.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.1s both;
	-webkit-animation: anim-home-logo-sign 1.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.1s both;
	        animation: anim-home-logo-sign 1.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.1s both;
}

.anim-home-links {
    -o-animation: anim-home-links 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) 2.1s both;
    -moz-animation: anim-home-links 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) 2.1s both;
	-webkit-animation: anim-home-links 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) 2.1s both;
	        animation: anim-home-links 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) 2.1s both;
}

.rotate {
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.rotate.down {
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}